.button {
  width: 500px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border-style: dashed;
  border-color: rgba(0, 0, 0, 0.2);
}

.button input {
  width: 100%;
  padding: 10px;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  background: none;
  color: #f0f3f4;
  cursor: pointer;
}
